# Python
__pycache__/
*.py[cod]
dist/
build/
*.egg-info/

# venv
venv/

# Сессии Telegram
sessions/

# Тестовые данные
*.tdat

# Файлы конфигурации
.env

# Файлы логов
*.log

# Файлы сессии
*.session

# Файлы сессии
tdatas/